// Colors
$global-charcoal: rgba(49, 53, 61, 1);
$global-charcoal-blue: rgba(49, 65, 92, 1);
$global-charcoal-lighten: rgba(51, 55, 64, 1);
$global-timberwolf: rgba(215, 215, 215, 1);
$global-white: rgba(255, 255, 255, 1);
$global-outer-space: rgba(70, 70, 70, 1);
$global-dark-turquoise: rgba(0, 200, 200, 1);
$global-dark-jungle-green: rgba(37, 37, 37, 1);
$global-onyx: rgba(17, 17, 17, 1);
$global-taupe-gray: rgba(137, 137, 137, 1);
$global-battleship-grey: rgba(134, 134, 134, 1);
$global-carmine-red: rgba(255, 0, 54, 1);
$global-dim-gray: rgba(99, 99, 99, 1);
$global-pastel-gray: rgba(204, 204, 204, 1);
$global-tiffany-blue: rgba(0, 184, 184, 1);
$global-carrot-orange: rgba(247, 148, 29, 1);
$global-davy-grey: rgba(85, 85, 85, 1);
$global-ash-grey: rgba(183, 183, 183, 1);
$global-platinum: rgba(225, 225, 225, 1);
$global-citrine: rgba(238, 207, 0, 1);
$global-yellow: rgba(255, 255, 0, 1);
$global-red: rgba(255, 0, 0, 1);
$global-lust: rgba(237, 28, 36, 1);

// Size
$global-view-port: 1170px;
