@import "partials/params-g";
@import "partials/mixins";

.best-product {
// |---PARAMS-LOC---|
$main-title-color: $global-dark-jungle-green;
$main-link-text-color: $global-dim-gray;
$product-block-title: $global-davy-grey;
$product-block-price-color: $global-dark-jungle-green;
$product-block-empty-stars-color: $global-ash-grey;
$product-block-filled-stars-color: $global-citrine;
$product-block-hover-panel-bg: $global-white;
$product-block-hover-panel-icons-color: $global-charcoal;

// |---STYLES---|
    margin-top: 25px;

    &__content {
        display: flex;
        flex-direction: column;
        width: 870px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &__main-title {
        position: relative;
        width: 220px;
        color: $main-title-color;
        font-size: 24px;
        font-weight: 500;
        &::before {
            position: absolute;
            content: "";
            border-bottom: 1px solid $main-title-color;
            width: 22%;
            top: 35px;
            left: 0;
        }
    }

    &__main-link {
        align-self: center;
        padding: 10px 0;
        color: $main-link-text-color;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        transition: .15s linear;
        &:hover {
            border-bottom: 1px solid lighten($main-link-text-color, 15%);
            border-top: 1px solid lighten($main-link-text-color, 15%);
        }
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__block {
        position: relative;
        margin-bottom: 25px;
        &:hover {
            .best-product__hover-panel {
                opacity: 1;
            }
        }
    }

    &__img {
        height: 350px;
        width: 270px;
    }

    &__hover-panel {
        position: absolute;
        z-index: 9;
        @include flex-center(row);
        opacity: 0;
        top: 275px;
        left: 0;
        height: 40px;
        width: 100%;
        background-color: $product-block-hover-panel-bg;
        color: lighten($product-block-hover-panel-icons-color, 5%);
        transition: opacity, ease-out .2s;
    }

    &__basket {
        cursor: pointer;
        &:hover {
            transform: scale(1.15);
        }
    }

    &__fav {
        @extend .best-product__basket;
        margin-left: 30px;
        margin-right: 30px;
    }

    &__extension {
        @extend .best-product__basket;
    }

    &__info {
        height: 50px;
        margin-top: 15px;
    }

    &__name {
        color: $product-block-title;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.4px;
    }

    &__price-rating {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 3px 0;
    }

    &__price {
        color: $product-block-price-color;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.5px;
    }

    &__rating {
        color: $product-block-empty-stars-color;
        font-size: 13px;
        cursor: default;
    }
}
