@import "partials/params-g";
@import "partials/mixins";
@import "partials/fonts";

$main-bg-color: $global-white;

body {
    @include clear;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    @include clear;
}

figure {
    @include clear;
}

article {
    @include clear;
}

a {
    text-decoration: none;
}

.view-port {
    width: $global-view-port;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: $main-bg-color;
}

.stars-pointer {
    cursor: pointer;
    color: lighten($global-citrine, 25%);
    transition: .25s linear;
}

.filled-stars {
    color: $global-citrine;
}

.best-product-summer-sale {
    display: flex;
    justify-content: space-between;
}
